* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
  box-sizing: border-box;

}

html,
body {
  width: 100%;
  height: 100%;
}

.parent{
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 30px;
  
}

.card{
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 30px;
  margin: 2px;
}