* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
  box-sizing: border-box;
  color: white
}

html,
body {
  width: 100%;
  height: 100%;
}

.parent {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 330px;
  background-color: #fff;
  border-radius: 30px;
  margin: 2px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.2px solid #dadada;
  padding: 1px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center {
  /* background: rgb(205, 13, 13); */
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.center .tag h4 {
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 500;
  background-color: #dadada;
  color: #111;
  border-radius: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #e3e1e1;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 10px;
  color: #b1b1b1;
}