* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  padding: 20px;
  width: 410px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #222;
  text-align: center;
}

.card p {
  margin: 10px;
}

.card button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  background-color: #fff;
}